
{% extends "bucket/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>

<div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">

                 <h1>Stop dreaming about your bucket list and start living it.</h1>
                 <br><br>
            <h5>"Don't ask what the world needs, ask what makes you come alive. <br> Because what the world needs most, is more people who come alive."<br> - Howard Thurman </h5><br><br><br> <p>We created <b><i>The Bucket List</i></b>  to help you make sense of all of your opportunities and live that life that matters most to you. Your dreams await.</p><br><br>
        <a role="button" class="semi-transparent-button" href="{% url 'signupuser' %}">Start Your Journey</a>
        </div>
    </div>

{% endblock %}
